ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    opacity: 0.8;
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
 /*///////////////////////////////////////////////////////////*/




p{
    font-size :20px;
    font-style: italic;
    text-shadow: 2px 2px sandybrown;
}
h2{
    color: darkblue;
    font-family: "Times New Roman", Times, serif;
    font-style: oblique;
}


#mycanvas{
    margin-left:0px;
    box-sizing: border-box;
    box-shadow:1px 1px 1px 1px black
}
/*///////////////////////////////////////////////////////////*/
* {
    box-sizing: border-box;
  }
/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
  }
  /* Left and right column */
  .column.side {
    width: 25%;
    
  }
  /* Middle column */
  .column.middle {
    width: 50%;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

/*///////////////////////////////////////////////////////////////////////////*/  
body{
    margin: 0;
    padding: 0px;
    background-image:url("back.jpg");
    
}
button{
    margin: 10px 5px;
    padding: 5px;
    background-color:rgb(168, 199, 231);
    color:black;
    font-family: 'Courier New', Courier, monospace;
    border-radius:50%;

}
a{
    margin: 10px 5px;
    padding: 5px;
    background-color:lightblue;
    color:black;
    font-family: 'Courier New', Courier, monospace;
    border-radius:20%;

}
#brush{
    width:60px;
    height:60px;
}
#eraser{
    width:60px;
    height:60px;
}
#circle{
    width:65px;
    height:65px;
}
#square{
    width:70px;
    height:70px;
}
#triangle{
    width:55px;
    height:55px;
}
#undo2{
    width:40px;
    height:40px;
}
#redo2{
    width:40px;
    height:40px;
}
.Color{
    padding:4px 0px;
    border:1px solid white;
    min-width:50px;
    min-height:50px;
    border-radius:50%;
    margin:10px 3px;
    display:inline-block;
    vertical-align:middle;
    color:white;
    box-sizing:border-box;
    background:rgb(240,240,240)
  }
#toollist{
    border:  1px solid lightskyblue;
}